<div id="<%= dom_id client %>">
  <p>
    <strong>Nombre:</strong>
    <%= client.name %>
  </p>

  <p>
    <strong>Número Telefónico:</strong>
    <%= client.phone_number %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= client.email %>
  </p>

</div>
